
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
     margin: 0px;
     padding: 0px;
}

body{
     background-color: hsl(212, 45%, 89%);
}

p{
     margin: 6px 0px;
     font-family: 'Outfit', sans-serif;
     text-align: center;
     width: 280px;
}

.info{
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
     margin-top: 15px;
}

.title{
     font-size: 22px;
     font-weight: 700;
     color: hsl(218, 44%, 22%);
}

.desc{
     font-size: 16px;
     font-weight: 400;
     color: hsl(220, 15%, 55%);
}

.content{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 330px;
     height: 500px;
     background-color: hsl(0, 0%, 100%);
     border-radius: 16px;
     display: flex;
     align-items: center;
     flex-direction: column;
}

.qr-code{
     justify-self: flex-start;
     width: 300px;
     height: 300px;
     border-radius: 8px;
     margin-top: 15px;
}

@media (max-width: 350px) {

     p{
          margin: 5px 0px;
          font-family: 'Outfit', sans-serif;
          text-align: center;
          width: 190px;
     }

     .title{
          font-size: 16px;
     }
     
     .desc{
          font-size: 12px;
     }

     .content{
          width: 240px;
          height: 370px;
     }

     .qr-code{
          width: 210px;
          height: 210px;
          margin-top: 15px;
     } 
}