@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
/* font-family: 'League Spartan', sans-serif; */

:root{
    --Dark-Cyan: hsl(180, 29%, 50%);
    --Light-Gray-Background: hsl(180, 52%, 96%);
    --Light-Gray-Filter: hsl(180, 31%, 95%);
    --Dark-Gray-Cyan: hsl(180, 8%, 52%);
    --Very-Dark-Cyan: hsl(180, 14%, 20%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

.hidden{
    display: none !important;
}

header{
    background-color: var(--Dark-Cyan);
    background-image: url(images/bg-header-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 160px;
}

main{
    background-color: var(--Light-Gray-Background);
    padding: 0px 150px;
}

main:has(.hidden){
    padding-top: 80px;
}

.filter-container{
    background-color: var(--white);
    transform: translateY(-40px);
    min-height: 80px;
    border-radius: 5px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
}

.filters{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.filter{
    margin: 10px;
    display: flex;
    align-items: center;
    height: 35px;
    width: fit-content;
    background-color: var(--Light-Gray-Background);
    border-radius: 5px 0px 0px 5px;
}

.f-name{
    color: var(--Dark-Cyan);
    font-size: 1.4em;
    font-weight: 700;
    margin-inline: 15px;
    margin-bottom: -5px;
}

.f-btn{
    display: flex;
    width: 35px;
    height: 35px;
    padding: 10px;
    background-color: var(--Dark-Cyan);
    border-radius: 0px 5px 5px 0px;
    transition: ease-in-out 100ms;
}

.f-btn:hover{
    background-color: var(--Very-Dark-Cyan);
    cursor: pointer;
}

.clear{
    font-size: 1.2em;
    color: var(--Dark-Cyan);
    margin-left: 40px;
}

.clear:hover{
    text-decoration: underline;
    cursor: pointer;
}

.item{
    position: relative;
    width: 100%;
    min-height: 150px;
    display: flex;
    background-color: var(--white);
    border-radius: 5px;
    padding: 25px;
    margin-block: 25px;
}

.item:first-child, .item:last-child{
    margin-block: 0;
}

.item:nth-child(2){
    margin-top: 25px;
}

.item:has(span.new)::after{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 5px;
    height: 100%;
    background-color: var(--Dark-Cyan);
    border-radius: 5px 0px 0px 5px;
}

.description{
    width: calc(50% - 88px);
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.company{
    color: var(--Dark-Cyan);
    font-size: 1.2em;
    font-weight: 700;
    text-transform: capitalize;
}

.company-img{
    align-self: center;
    width: fit-content;
    height: fit-content;
}

.top-desc{
}

.new{
    background-color: var(--Dark-Cyan);
    color: var(--white);
    padding: 8px 8px 5px 8px;
    border-radius: 16px;
    font-size: 0.8em;
    text-transform: uppercase;
}

.featured{
    background-color: var(--Very-Dark-Cyan);
    color: var(--white);
    padding: 8px 8px 5px 8px;
    border-radius: 16px;
    font-size: 0.8em;
    text-transform: uppercase;
}

.title{
    font-size: 1.4em;
    font-weight: 700;
}

.title:hover{
    color: var(--Dark-Cyan);
    cursor: pointer;
}

.bottom-desc{
    display: flex;
    align-items: center;
    color: var(--Dark-Gray-Cyan);
}

.dot{
    background-color: var(--Dark-Gray-Cyan);
    width: 2px;
    height: 2px;
    margin-inline: 10px;
    border-radius: 50%;
}

.tags{
    flex: 1;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    width: calc(50% - 88px);
    height: fit-content;
}

.tag{
    background-color: var(--Light-Gray-Filter);
    color: var(--Dark-Cyan);
    font-size: 1.2em;
    font-weight: 700;
    padding: 10px 10px 5px 10px;
    border-radius: 4px;
    margin: 5px;
    transition: ease-in-out 100ms;
}

.tag:hover{
    background-color: var(--Dark-Cyan);
    color: var(--Light-Gray-Filter);
    cursor: pointer;
}