@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
/* font-family: 'League Spartan', sans-serif; */

:root {
  --Dark-Cyan: hsl(180, 29%, 50%);
  --Light-Gray-Background: hsl(180, 52%, 96%);
  --Light-Gray-Filter: hsl(180, 31%, 95%);
  --Dark-Gray-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Cyan: hsl(180, 14%, 20%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

.hidden {
  display: none !important;
}

body {
  height: 100vh;
  font-size: 15px;
  background-color: var(--Light-Gray-Background);
}

header {
  background-image: url(images/bg-header-desktop.svg);
  background-color: var(--Dark-Cyan);
  height: 10.4em;
}


main {
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
  margin-inline: 8em;
}

main:has(#filterContent.hidden) {
  margin-top: 4em;
}

#filterContent {
  min-height: 5em;
  border-radius: 0.4em;
  background-color: var(--white);
  transform: translateY(-50%);
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2.5em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.filterItem {
  border-radius: 0.25em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  background-color: var(--Light-Gray-Filter);
}

.filterItem > .title {
  color: var(--Dark-Cyan);
  margin-inline: 0.5em;
  font-weight: 700;
  font-size: 1.1em;
  margin-top: 0.25em;
}

.filterItem > .remove {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-Cyan);
  height: 2em;
  width: 2em;
}

.filterItem > .remove:hover {
  background-color: var(--Very-Dark-Cyan);
}

#clearFilter {
  color: var(--Dark-Cyan);
  user-select: none;
}

#clearFilter:hover {
  cursor: pointer;
  text-decoration: underline;
}

#itemList {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.itemContent {
  min-height: 10em;
  border-radius: 0.4em;
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding-inline: 2.5em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  padding-block: 2em;
  gap: 2em;
}

.itemContent.new {
  border-left: 0.4em solid var(--Dark-Cyan);
  padding-inline: 2.1em 2.5em;
}

.itemContent hr {
  display: none;
}

.infoAccount {
  margin-left: 1.2em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  justify-content: space-between;
  height: 100%;
}

.infoAccount > .nameContent {
  display: flex;
  align-items: center;
}
.nameContent > .name {
  font-size: 1.25em;
  font-weight: 700;
  color: var(--Dark-Cyan);
  margin-right: 0.5em;
}

.infoAccount .new,
.infoAccount .featured {
  border-radius: 1em;
  padding-inline: 0.6em;
  padding-top: 0.2em;
  height: 1.6em;
  font-size: 1rem;
  color: var(--white);
  margin-left: 0.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.infoAccount .new {
  background-color: var(--Dark-Cyan);
}

.infoAccount .featured {
  background-color: var(--Very-Dark-Cyan);
}

.infoAccount > .details {
  color: var(--Very-Dark-Cyan);
  font-weight: 700;
  font-size: 1.5em;
}
.infoAccount > .details:hover {
  cursor: pointer;
  color: var(--Dark-Cyan);
}

.infoAccount > .extras {
  color: var(--Dark-Gray-Cyan);
  font-size: 1.2em;
}

.infoAccount > .extras > span {
  color: var(--Dark-Gray-Cyan);
  font-size: 1.4em;
  padding-inline: 0.4em;
}

.itemContent > .filters {
  flex: 1;
  justify-content: right;
  flex-wrap: wrap;
}

.filterAccount {
  user-select: none;
  cursor: pointer;
  border-radius: 0.25em;
  background-color: var(--Light-Gray-Filter);
  color: var(--Dark-Cyan);
  font-weight: 700;
  height: 2em;
  padding-inline: 0.75em;
  display: flex;
  align-items: center;
}

.filterAccount:hover {
  background-color: var(--Dark-Cyan);
  color: var(--white);
}

@media screen and (max-width: 1024px) {

  /* #filterContent {
    margin-inline: 1.5em;
    padding: 1.25em;
    padding-right: 1.5em;
    min-height: 4em;
    transform: translateY(70%);
  } */
}

@media screen and (max-width: 1024px) {
  header {
    background-image: url(images/bg-header-mobile.svg);
  }

  main {
    margin-inline: 1.5em;
  }

  #filterContent {
    transform: translateY(-25%);
    margin-bottom: 2em;
    padding: 1.5em;
  }

  #itemList {
    gap: 2.5em;
  }

  .itemContent {
    flex-direction: column;
    align-items: baseline;
    position: relative;
    height: fit-content;
    padding: 1.5em;
    padding-top: 0;
    gap: 0;
  }

  .itemContent.new {
    padding: 0 1.5em 1.5em 1.1em;
  }

  .accImage {
    transform: scale(0.5) translate(-50%, -100%);
    position: absolute;
  }

  .itemContent hr {
    display: block;
    border-top: 0.1em solid var(--Dark-Gray-Cyan);
    width: 100%;
    margin-block: 1em;
  }

  .infoAccount {
    margin-left: 0;
    gap: 0.75em;
    margin-top: 2em;
  }

  .infoAccount > .details {
    font-size: 15px;
  }

  .infoAccount > .extras {
    font-size: 15px;
  }

  .infoAccount > .extras > span {
    color: var(--Dark-Gray-Cyan);
    font-size: 1.5em;
    padding-inline: 0.25em;
  }

  .nameContent > .name {
    font-size: 15px;
    margin-right: 1em;
  }

  .itemContent > .filters {
    justify-content: left;
    flex-wrap: wrap;
  }
}
